.tk-row-1 {
    height: 8.33%;
  }

  .tk-row-2 {
    height: 16.66%;
  }

  .tk-row-3 {
    height: 25%;
  }

  .tk-row-4 {
    height: 33.33%;
  }

  .tk-row-5 {
    height: 41.66%;
  }

  .tk-row-6 {
    height: 50%;
  }

  .tk-row-7 {
    height: 58.33%;
  }

  .tk-row-8 {
    height: 66.66%;
  }

  .tk-row-9 {
    height: 75%;
  }

  .tk-row-10 {
    height: 83.33%;
  }

  .tk-row-11 {
    height: 91.66%;
  }

  .tk-row-12 {
    height: 100%;
  }

  
  .tk-row-2 {
    height: 16.66%;
  }
  
  .tk-row-3 {
    height: 25%;
  }
  
  .tk-row-4 {
    height: 33.33%;
  }
  
  .tk-row-5 {
    height: 41.66%;
  }
  
  .tk-row-6 {
    height: 50%;
  }
  
  .tk-row-7 {
    height: 58.33%;
  }
  
  .tk-row-8 {
    height: 66.66%;
  }
  
  .tk-row-9 {
    height: 75%;
  }
  
  .tk-row-10 {
    height: 83.33%;
  }
  
  .tk-row-11 {
    height: 91.66%;
  }
  
  .tk-row-12 {
    height: 100%;
  }
  
.card-img {
    max-width: 100%;
    height: auto;
  }
